<div class="previsaoWidget">
    <div class="location">
        <h3>{{previsaoContext.location.name}}</h3>
        <p>{{previsaoContext.weather.summary}}, {{previsaoContext.weather.temperature}}</p>
    </div>
    <small>Fonte: <a href="http://www.wunderground.com">Weather Underground</a></small>
</div>
