<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <img src="/img/logo.png" alt="Imagem do logo" style="width: 200px;">
</head>
<body>
    <a href="/" data-test-id="home">home</a>
    <a href="/sobre" data-test-id="sobre">sobre</a>
     <a href="/contato" data-test-id="contato">contato</a>
    {{{body}}}
</body>
</html>